<h1>Game Results</h1>

<p>Your move was: <em><strong><%= @player_one %></em></strong></p>
<p>Your opponent's move was: <em><strong><%= @player_two %></em></strong></p>

<p><strong><%= @results %></strong></p>

<a class="btn btn-default" href="/game_form" role="button">Play Again</a>