<h1>Rock, Paper, Scissors</h1>

<p> Let's get ready to play the Rock, Paper, Scissors Game!</p>

<a class="btn btn-default" href="/game_form" role="button">Two Player Game</a>
<a class="btn btn-default" href="/game_form_one_player" role="button">One Player Game</a>